# .gitignore

# Environnements virtuels
venv/
env/
.env

# Dossiers de résultats (Très important)
outputs/
results/
*.pth
*.pt
optuna_study.db
.pytest_cache/
slurm/log/

# Artefacts locaux de comparaison
jax/
plot/gaussian_hypothesis/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo

# Fichiers système (Mac/Windows)
.DS_Store
Thumbs.db

# Fichiers IDE (VS Code, PyCharm)
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
